<!-- 
    ROS navigation stack with velocity smoother and safety (reactive) controller
-->
<launch>
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">

    <rosparam file="$(find evo_rd_platform_example)/params/move_base_params/teb/move_base_params.yaml" command="load" />

<!-- costmap -->
    <rosparam file="$(find evo_rd_platform_example)/params/move_base_params/teb/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find evo_rd_platform_example)/params/move_base_params/teb/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find evo_rd_platform_example)/params/move_base_params/teb/local_costmap_params.yaml" command="load" />   
    <rosparam file="$(find evo_rd_platform_example)/params/move_base_params/teb/global_costmap_params.yaml" command="load" />

<!-- local planner -->
    <rosparam file="$(find evo_rd_platform_example)/params/move_base_params/teb/teb_local_planner_params.yaml" command="load" /> 
    <!-- <rosparam file="$(find evo_rd_platform_example)/params/move_base_params/dwa/dwa_local_planner_params.yaml" command="load" />  -->

<!-- global planner -->
    <rosparam file="$(find evo_rd_platform_example)/params/move_base_params/teb/global_planner_params.yaml" command="load" />


    <remap from="odom" to="odom"/>

    <remap from="/cmd_vel" to="/cmd_vel/ros"/> <!-- publish navigation stack on topic cmd_vel_nav -> node twist_mux -->

    <!-- recovery behavior -->    
    <!--remap from="~force_field_recovery/cmd_vel" to="/cmd_vel_nav"/-->
    <!--rosparam file="$(find recovery_behaviors)/ros/config/force_field_parameters.yaml" command="load" ns="force_field_recovery"/-->    
    <!--rosparam file="$(find recovery_behaviors)/ros/config/clear_costmap_parameters.yaml" command="load" ns="clear_costmap_recovery"/-->

  </node>
</launch>
