<?xml version="1.0"?>
<launch>
<!-- Laserscanner Mount TFs-->
	<node pkg="tf" type="static_transform_publisher" name="base_footprint_2_laser_front" args="0.37 0 0.103 0 0 0 1 base_footprint laser_front 2" />
	<node pkg="tf" type="static_transform_publisher" name="base_footprint_2_laser_back" args="-0.37 0 0.103 0 0 1 0 base_footprint laser_back 2" />
	
</launch>

